<div class="h-card" rel="author">

      {{ with resources.Get "img/profile_pic.jpeg" }}
        <img class="u-photo" alt="My profile photo" src="{{ .RelPermalink }}" width="75px">
      {{ end }}

    <h1>
      <span class="p-name">Jay Funabashi</span>
    </h1>

    <ul>
      <li><a class="u-uid u-url" href="https://jay.funabashi.co.uk">https://jay.funabashi.co.uk</a></li>
      <li>Github: <a class="u-url" href="https://github.com/j4y-funabashi" rel="me">@j4y-funabashi</a></li>
    </ul>
</div>
