<div class="h-card" rel="author">
      <img class="u-photo" alt="My profile photo" src="/profile_pic.jpg" width="150px" />
    <h1>
      <span class="p-name">Jay Funabashi</span>.
    </h1>

    <p class="p-note">
      ...and I am a human on the Internet.
    </p>

    <ul>
      <li><a class="u-uid u-url" href="https://jay.funabashi.co.uk">https://jay.funabashi.co.uk</a></li>
      <li>Github: <a class="u-url" href="https://github.com/j4y-funabashi" rel="me">@j4y-funabashi</a></li>

    </ul>
</div>
